<%- include ('../components/header.ejs') %>
	<!-- header 
   ================================================== -->
   <%- include ('../components/nav.ejs') %>
   <section id="bricks">
   	<div class="main">
        <div class="left">
            <a href="/admin/users">Users</a>
            <a href="/admin/posts">Posts</a>
        </div>
        <div class="right">
            
            
            <%-include('../components/users_table.ejs')%>
                
        </div>
    </div>








   </section> <!-- end bricks -->
<!-- Java Script
================================================== --> 
<script src="/js/jquery-2.1.3.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/jquery.appear.js"></script>
<script src="/js/main.js"></script>
</body>

</html>
