<%- include ('../components/header.ejs') %>
   <!-- header 
   ================================================== -->
   <%- include ('../components/nav.ejs') %>
      <section id="bricks">



         <h2>Something went wrong.</h2>
         <h4>Error: <%= error %>
         </h4>



      </section> <!-- end bricks -->
      <!-- Java Script
================================================== -->
      <script src="/js/jquery-2.1.3.min.js"></script>
      <script src="/js/plugins.js"></script>
      <script src="/js/jquery.appear.js"></script>
      <script src="/js/main.js"></script>
      </body>

      </html>