<header class="short-header">   

    <div class="gradient-block"></div>	

    <div class="row header-content">
        <div class="logo">
            <a href="/">Author</a>
        </div>

        <nav id="main-nav-wrap">
             <ul class="main-navigation sf-menu">
                 <li class="current"><a href="/" title="">Home</a></li>									
                 <li class="has-children">
                     <a href="/" title="">Categories</a>
                     <ul class="sub-menu">

                    <% if(locals.categories){ %>
                        <% locals.categories.forEach((category)=>{%>
                            <li><a href="/post?category=<%=category.name%>"><%=category.name%></a></li>
                        <%})%>
                    <% }%>

                  </ul>
                 </li>
                 <!-- <li class="has-children">
                     <a href="/single-standard.html" title="">Blog</a>
                     <ul class="sub-menu">
                     <li><a href="/single-video.html">Video Post</a></li>
                     <li><a href="/single-audio.html">Audio Post</a></li>
                     <li><a href="/single-gallery.html">Gallery Post</a></li>
                     <li><a href="/single-standard.html">Standard Post</a></li>
                  </ul>
                 </li> -->
                 <% if(locals.editPost){ %>
                    <li><a href="/post/edit?id=<%=post._id%>" title="">EditThisPost</a></li>
                <% }%>
                 <% if(locals.user){ %>
                    <li class="has-children">
                        <a href="/" title=""><%=locals.user.email%></a>
                        <ul class="sub-menu">
                            <li><a href="/post/create" title="">CreatePost</a></li>
                            <% if(locals.user.admin){ %>
                            <li><a href="/admin" title="">Admin</a></li>
                            <% } %>
                            <li><a href="/user/signout" title="">SignOut</a></li>
                        </ul>
                    </li>
                    
                    <% } else { %>
                    <li><a href="/user/signin" title="">SignIn</a></li>
                    <li><a href="/user/signup" title="">SignUp</a></li>
                    
                <% } %>
                
                </ul>
                
         </nav> <!-- end main-nav-wrap -->

         <div class="search-wrap">
             
             <form role="search" method="get" class="search-form" action="/post/search">
                 <label>
                     <span class="hide-content">Search for:</span>
                     <input type="search" class="search-field" 
                     placeholder="Type Your Keywords" value="" 
                     name="keywords" title="Search for:" autocomplete="off">
                 </label>
                 <input type="submit" class="search-submit" value="Search">
             </form>

             <a href="#" id="close-search" class="close-btn">Close</a>

         </div> <!-- end search wrap -->	

         <div class="triggers">
             <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
             <a class="menu-toggle" href="#"><span>Menu</span></a>
         </div> <!-- end triggers -->	
        
    </div>     		
    
</header> <!-- end header -->
